[UNIT]
Description=Message handler service
After=syslog.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/scheduler

[Install]
WantedBy=multi-user.target

